.history {
  display:flex;
  flex-direction: column;
}

#history-box {
  overflow-y: auto;
  flex:1;
}

.history h2 {
  margin-top: 0px;
}
#closeBtn {
  position: absolute;
  top: 50px;
  left: 80px;
  -webkit-border-radius: 10px;
  color: gray;
  background-color: transparent;
  border: 1px solid grey;
  width: 80px;
  font-size: 0.9rem;
  top: 20px;
  left:20px;
}
